@keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(-30%);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Nunito, sans-serif
}

.container {
  background-image: linear-gradient(to top, #005AA7, #FFFDE4);
}

.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.7);
  /* Black w/ opacity */
}

.modal-content {
  animation: moveInTop 1s ease-out;
  display: none;
  justify-content: space-around;
  align-items: center;
  background-color: #fefefe;
  clip-path: polygon(15% 0, 100% 0, 100% 80%, 85% 100%, 0 100%, 0 20%);
  margin: 8% auto;
  /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 60%;
  /* Could be more or less, depending on screen size */
  height: 60%;
}

.btn {
  font-size: 2rem;
  padding: 1rem;
  margin-top: 1rem;
  border-radius: 20%;
}

.second-player-name-input {
  display: none;
}

.visible {
  display: flex;
}

.play-room, .left, .right, .middle, .hand, .table {
  display: flex;
}

.play-room {
  height: 98vh;
  margin: 1vh 2vh;
  justify-content: space-between;
}

.left, .right {
  flex-direction: column;
  justify-content: center;
  width: 10%;
}

.middle {
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 76%;
}

.left .hand, .right .hand {
  background-color: pink;
  height: 65%;
  width: 100%;
}

.middle .hand {
  display:flex;
  width: 100%;
  justify-content: center;
}

.table {
  background-image: url(../images/Table.jpg);
  height: 50%;
  width: 75%;
  border-radius: 2%/4%;
  justify-content: space-around;
  align-items: center;
}

.cards-in-play, .deck {
  max-height: 182px;
  max-width: 130px;
  height: 80%;
  width: 30%;
  background-size: cover;
  box-shadow: 4px 4px 2px 0px #e6e6e6;
  border-radius: 5px;
}

.active-player {
  height: 22%;
  display: flex;
  align-items: flex-end;
}

.opponent-hand {
  height: 12%;
  align-items: flex-end;
}

.opponent-hand .card {
  background-position: bottom;
}

.card {
  max-width: 130px;
  height: 100%;
  border-radius: 5px;
  flex-grow: 1;
  background-size: cover;
}

.active-player .card:hover {
  flex-grow: 2;
  height: 110%;
}

.legal {
  box-shadow: 0px 0px 10px 4px gold
}

#wild-green {
  background-color: rgb(0, 238, 157)
}

#wild-yellow {
  background-color: rgb(246, 232, 75)
}

#wild-red {
  background-color: rgb(255, 72, 87)
}

#wild-blue {
  background-color: rgb(0, 199, 233)
}
