.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.modal-content {
  display: none;
  justify-content: space-around;
  align-items: center;
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  height: 30%;
}

.number-players {
  width: 20%;
  height: 75%;
}

.visible {
  display: flex;
}

.play-room, .left, .right, .middle, .hand, .table {
  display:flex;
}

.play-room {
  height: 700px;
  width: 1200px;
  justify-content: space-between;
}

.left, .right {
  flex-direction: column;
  justify-content: center;
  height: 1200px%;
  width: 15%;
}

.middle {
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 60%;
}

.left .hand, .right .hand {
  background-color: pink;
  height: 65%;
  width: 100%;
}

.middle .hand {
  background-color: pink;
  height: 22%;
  width: 100%;
}

.table {
  background-color: green;
  height: 44%;
  width: 65%;
  justify-content: space-around;
  align-items: center;
}

.cards-in-play, .deck {
  height: 88%;
  width: 40%
}

.cards-in-play, .deck {
  background-size: cover;
}

.active-player {
  display:flex;
  justify-content: flex-start;
}

.card {
  flex:0, 1, auto;
  width: 14%;
  height: 100%;
}
