@keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(-30%);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes rubberBand {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }

  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Nunito, sans-serif
}

h1 {
  line-height: 2rem;
}

.container {
  background-image: linear-gradient(to top, rgba(0,90,167, .8), rgba(255,253,228.8)),
 url(../images/background.png);
  background-size: cover;
}

.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.7);
  /* Black w/ opacity */
}

.modal-content {
  animation: moveInTop 1s ease-out;
  display: none;
  justify-content: space-around;
  align-items: center;
  background-color: #fefefe;
  clip-path: polygon(9% 0, 100% 0, 100% 84%, 91% 100%, 0 100%, 0 16%);
  margin: 8% auto;
  /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 60%;
  /* Could be more or less, depending on screen size */
  height: 60%;
}

.select-players {
  flex-direction: column;
  justify-content: space-around;
}

.player-form {
  height: 75%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

span {
  font-size: 3rem;
}

.btn {
  font-size: 2rem;
  padding: 1rem;
  margin: .5rem;
  border-radius: 20%;
  background-color: rgb(0, 238, 157);
}

.btn:focus,
input:focus,
select:focus{
  outline: 0;
  background-color: #fefefe;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset;
}

.btn:hover {
  animation: rubberBand 1s ease-out;
  cursor: pointer;
}

.second-player-name-input {
  display: none;
}

.visible {
  display: flex;
}

.play-room, .left, .right, .middle, .hand, .table {
  display: flex;
}

.play-room {
  height: 100vh;
  padding: 1vh;
  justify-content: space-between;
}

.left, .right {
  flex-direction: column;
  justify-content: center;
  width: 10%;
}

.middle {
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 76%;
}

.left .hand, .right .hand {
  background-color: pink;
  height: 65%;
  width: 100%;
}

.middle .hand {
  display:flex;
  width: 100%;
  justify-content: center;
}

.table {
  background-image: url(../images/Table.jpg);
  height: 50%;
  width: 75%;
  border-radius: 2%/4%;
  justify-content: space-around;
  align-items: center;
}

.cards-in-play, .deck {
  max-height: 182px;
  max-width: 130px;
  height: 80%;
  width: 30%;
  background-size: cover;
  box-shadow: 4px 4px 2px 0px #e6e6e6;
  border-radius: 5px;
}

.active-player {
  height: 22%;
  display: flex;
  align-items: flex-end;
}

.opponent-hand {
  height: 12%;
}

.opponent-hand .card {
  background-position: bottom;
  box-shadow: 0 -5px 4px -2px rgb(51, 51, 51);
}

.card {
  max-width: 130px;
  height: 100%;
  border-radius: 5px;
  flex-grow: 1;
  background-size: cover;
}

.active-player .card:hover {
  flex-grow: 2;
  height: 110%;
}

.legal {
  box-shadow: 0px 0px 10px 10px rgb(255, 102, 244);
  height: 105%;
}

.legal:hover {
  cursor: pointer;
}

.btn-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

#wild-selection {
  flex-direction: column;
}

.wild-color {
  flex-basis: 46%;
}

#wild-green {
  background-color: rgb(0, 238, 157)
}

#wild-yellow {
  background-color: rgb(246, 232, 75)
}

#wild-red {
  background-color: rgb(255, 72, 87)
}

#wild-blue {
  background-color: rgb(0, 199, 233)
}

#winner-screen {
  flex-direction: column;
}

.no-btn {
  background-color: rgb(255, 72, 87)
}

.input, .select {
  font-family: Nunito, sans-serif;
  font-size: 1rem;
  border: none;
  border-bottom: 1px solid black;
  height: 2rem;
  width: 100%;
}
